.Boton3 {
    /*background: white;*/
    background: #BC955C;
    color: #00B140;
    display: inline-block;
    padding: 13px 13px;
    text-align: center;
    border-color: #00b140;
    border-style: solid;
    border-width: 1px;
    border-radius: .4em;
    font: Sans-Serif;
}

    .Boton3:hover {
        background: #00b140;
        color: white;
    }
